<% layout("./layouts/boilerplate.ejs") %>

      <div class="container mt-4">

            <h2 class="mb-4">
                  <%= listing.title %>
            </h2>

            <!-- Listing Card -->
            <div class="card show-card">

                  <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing image">

                  <div class="card-body">

                        <p class="card-text">
                              <strong>Description:</strong><br>
                              <%= listing.description %>
                        </p>

                        <p class="card-text">
                              <strong>Price:</strong>
                              ₹ <%= listing.price.toLocaleString("en-IN") %> / night
                        </p>

                        <p class="card-text">
                              <strong>Location:</strong>
                              <%= listing.location %>, <%= listing.country %>
                        </p>

                        <div class="d-flex gap-2 mt-4">

                              <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark">
                                    Edit
                              </a>

                              <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                                    <button class="btn btn-danger">
                                          Delete
                                    </button>
                              </form>

                        </div>

                  </div>
            </div>

            <!-- Review Section -->
            <div class="card show-card mt-4">

                  <div class="card-body">

                        <h3 class="mb-3">Leave a Review</h3>

                        <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate
                              class="needs-validation">

                              <div class="mb-3">
                                    <label for="rating" class="form-label">
                                          Rating
                                    </label>

                                    <input type="range" class="form-range" id="rating" name="review[rating]" min="1"
                                          max="5" step="1">
                              </div>

                              <div class="mb-3">
                                    <label for="comments" class="form-label">
                                          Comments
                                    </label>

                                    <textarea class="form-control" id="comments" name="review[comments]" rows="4"
                                          placeholder="Write your review here..." required></textarea>
                                    <div class="invalid-feedback"> please add some comments for review</div>
                              </div>

                              <button type="submit" class="btn btn-dark">
                                    Submit Review
                              </button>

                        </form>

                  </div>

            </div>
            <!-- show all reviews -->
            <div class="show-card mt-4">
                  <p><b>All Reviews</b></p>

                  <div class="row">
                        <% for(let review of listing.reviews){ %>
                              <div class="col-md-6 mb-3">
                                    <div class="card">
                                          <div class="card-body">
                                                <h5 class="card-title mb-3">John Doe</h5>

                                                <p class="card-text mb-2">
                                                      <%= review.comments %>
                                                </p>

                                                <p class="card-text mb-3">
                                                      Rating: <%= review.rating %>
                                                </p>

                                                <form style="margin-bottom:0;" method="post"
                                                      action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
                                                      <button class="btn btn-dark btn-sm">
                                                            Delete
                                                      </button>
                                                </form>
                                          </div>
                                    </div>
                              </div>
                              <% } %>
                  </div>
            </div>
      </div>